<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title><%= projectName %></title>

  <meta name="author" content"<%= name %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= description %>">
  <link rel="stylesheet" href="css/c.min.css" type="text/css">
</head>
<body>
  <h1>Hello, <code>generator-rework</code>!</h1>
  <footer>
    Made with &lt;3 by <a href="http://johnotander.com">John Otander</a>
    (<a href="https://twitter.com/4lpine">@4lpine</a>). <br>
    &lt;/&gt; on <a href="https://github.com/johnotander/generator-rework">Github</a>.
  </footer>
</body>
</html>
